AccesstoryViewCell/AccesstoryViewCell.xcodeproj/xcuserdata/thanhdv.xcuserdatad/xcschemes/AccesstoryViewCell.xcscheme
AccesstoryViewCell/AccesstoryViewCell.xcodeproj/xcuserdata/thanhdv.xcuserdatad/xcschemes/xcschememanagement.plist
